.root {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    padding: 20px;

}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.button-display {
    width: 100%;
}

.button-style {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 40px;

    padding: 10px;
    border-radius: 5px; /* Rounds the corners */
    border: 1px solid #ccc; /* Adds a subtle border */
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */

    cursor: pointer;

    /* Optional hover effect for better UX */
    transition: background-color 0.3s ease;
}

.button-container {
    top: 20%; /* Positions the container 5% from the top of the viewport */
    display: flex; /* Makes child elements (buttons) align horizontally */
    justify-content: center;
    align-items: center;
    gap: 15px; /* Adds space between the buttons */
    padding: 20px;

}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('../src/assets/sep09.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    min-width: 200px;
    max-width: 100%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

.h1-container, .button-container {
    flex: 1; /* Allows items to grow and take up available space */
    margin: 0 10px; /* Adds horizontal margins between containers */
    gap: 20px;

}

.bottom-label {
    flex: 1;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the elements horizontally */
    align-items: center; /* Center the elements vertically */
}

.bottom-label-container {
    position: fixed;
    bottom: 40px;
}

.bottom-button-container {
    flex: 1; /* Allows items to grow and take up available space */
    margin: 0 10px; /* Adds horizontal margins between containers */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Distributes space between items */
    gap: 120px;
    bottom: 150px;
    padding: 30px;
}

.bottom-button {
    padding: 8px 16px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the elements horizontally */
    align-items: center; /* Center the elements vertically */
}


.text-insertion {
    display: flex;
    justify-content: center; /* Centers horizontally */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers vertically */
    height: 300px; /* Set a fixed height for the container (optional) */
}